.content {
    display: grid;
    margin: 100px 10%;
    height: 34vw;
    background-color: white;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
            "dog1 dog1 dog1 dog3 dog3 dog3 fox fox fox fox fox fox"
            "dog1 dog1 dog1 dog3 dog3 dog3 fox fox fox fox fox fox"
            "dog1 dog1 dog1 dog3 dog3 dog3 fox fox fox fox fox fox"
            "dog1 dog1 dog1 dog3 dog3 dog3 dog4 dog4 dog4 dog4 events events"
            "dog2 dog2 dog2 dog3 dog3 dog3 dog4 dog4 dog4 dog4 events events"
            "dog2 dog2 dog2 dog3 dog3 dog3 dog4 dog4 dog4 dog4 blog blog"
            "dog2 dog2 dog2 cat cat cat dog4 dog4 dog4 dog4 blog blog"
            "dog2 dog2 dog2 cat cat cat dog4 dog4 dog4 dog4 contacts contacts";
}

/* Стилі карток */
.content__dog1 {
    display: grid;
    grid-area: dog1;
    background: url("../images/dog1.jpg") no-repeat;
    background-size: 100%;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.content__dog1 > button{
    opacity: 0;
}

.content__dog1:hover {
    background: none;
    -webkit-transform: translateX(-50px);
    -moz-transform: translateX(-50px);
    -o-transform: translateX(-50px);
}

.content__dog1:hover .content__help {
    position: relative;
    left: 50%;
    top: calc(50% - 15px);
    transform: translate(-50%, 0);
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background: black;
    color: white;
    opacity: 1;
    font-size: 16px;
    /*cursor: pointer;*/
    z-index: 0;
}

.content__help:hover {
    position: relative;
    left: 50%;
    top: calc(50% - 15px);
    transform: translate(-50%, 0);
    height: 35px;
    width: 80px;
    border: none;
    border-radius: 2px;
    background: red;
    color: white;
    opacity: 1;
    font-size: 16px;
    cursor: pointer;
    z-index: 9999;
}

.content__dog2 {
    display: grid;
    grid-area: dog2;
    background: url("../images/dog2.jpeg") no-repeat;
    background-size: 100%;
}

.content__dog2:hover {
    background: none;
}

.content__dog2:hover .content__dog2_text {
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
    opacity: 1;
    transition: opacity 3s linear;
}

.content__dog2_text {
    opacity: 0;
}

.content__dog3 {
    display: grid;
    grid-area: dog3;
    background: url("../images/dog3.jpg") no-repeat;
    background-size: 100%;
    /*-webkit-transform: translateX(0);*/
    /*transform: translateX(0);*/
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content__dog3:hover {
    background: none;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.content__dog3:hover .content__dog3_text {
    opacity: 1;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
}

.content__dog3_text {
    opacity: 0;
}

.content__cat {
    display: grid;
    grid-area: cat;
    background: url("../images/cat.jpg") no-repeat;
    background-size: 100%;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
}

.content__cat:hover {
    background: none;
    -webkit-transform: translate(0,50px);
    -moz-transform: translate(0,50px);
    -o-transform: translate(0,50px);
}

.content__cat:hover .content__cat_text {
    opacity: 1;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
}

.content__cat_text {
    opacity: 0;
}

.content__fox {
    display: grid;
    grid-area: fox;
    background: url("../images/fox.jpg") no-repeat;
    background-size: 100%;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    -webkit-transition: all 500ms ease-in-out;
}

.content__fox:hover {
    background: none;
    -webkit-transform: translate(10px, -10px);
    -moz-transform: translate(10px, -10px);
    -o-transform: translate(10px, -10px);
}

.content__fox:hover .content__fox_text {
    opacity: 1;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
}

.content__fox_text {
    opacity: 0;
}

.content__dog4 {
    display: grid;
    grid-area: dog4;
    background: url("../images/dog4.jpeg") no-repeat;
    background-size: 100%;
}

.content__dog4:hover {
    background: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content__dog4:hover .content__dog4_text {
    opacity: 1;
    font-size: 18px;
    font-weight: bolder;
    padding: 15px;
    text-align: justify;
    transition: opacity 2s ease;
}

.content__dog4_text {
    opacity: 0;
}

.content__events_title, .content__blog_title, .content__contacts_title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.content__events {
    display: grid;
    grid-area: events;
    background-color: #298ffe;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

::-webkit-scrollbar{
    width:12px;
}

::-webkit-scrollbar-thumb{
    border-width:1px 1px 1px 2px;
    border-color: #777;
    background-color: #aaa;
}

::-webkit-scrollbar-track{
    border-width:0;
}

::-webkit-scrollbar-track:hover{
    border-left: solid 1px #aaa;
    background-color: #eee;
}

.content__events_text, .content__blog_text {
    color: black;
    font-size: 16px;
    display: none;
}

.content__events:hover {
    background: none;
    overflow-y: scroll;
    padding: 15px;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content__events:hover .content__events_title{
    display: none
}

.content__events:hover .content__events_text{
    display: block;
}

.content__events__span {
    opacity: 0;
    height: inherit;
}

.content__events:hover .content__events__span {
    opacity: 1;
    overflow: scroll;
    height: inherit;
}

.content__blog {
    display: grid;
    grid-area: blog;
    background-color: #03368c;
    color: white;
    font-weight: bolder;
    font-size: 18px;
}

.content__blog:hover {
    background: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content__blog:hover .content__blog_title{
    display: none
}

.content__blog:hover .content__blog_text{
    display: flex;
    align-items: flex-start;
    padding: 15px;
}

.content__contacts {
    display: grid;
    grid-area: contacts;
    background-color: #021a43;
    color: white;
    font-weight: bolder;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.content__contacts:hover {
    background: none;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.content__contacts:hover .content__contacts_title{
    display: none
}

.content__contacts:hover .content__icons{
    display: flex;
}

.content__contacts:hover .icon{
    display: flex;
    padding: 0 5px;
}

.content__icons {
    display: none;
}

.icon {
    height: 100px;
    width: 100px;
    cursor: pointer;
    fill: black;
}

.icon {
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: black;
}

.icon:hover {
    height: 25px;
    width: 25px;
    cursor: pointer;
    fill: #298ffe;
}

/* Футер */
.powered {
    display: block;
    text-align: center;
    font-size: 18px;
    font-weight: bolder;
    position: absolute;
    left: 50%;
    bottom: 5px;
    transform: translate(-50%, -50%);
}

@media only screen and (max-width: 980px) {
    .content {
        display: grid;
        height: 70vw;
        margin: 100px 5% 0 5%;
        grid-template-columns: repeat(18, 1fr);
        grid-template-rows: repeat(9, 1fr);
        grid-template-areas:
                "dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog3 dog3 dog3 dog3 dog3 dog3 events events events events"
                "dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog3 dog3 dog3 dog3 dog3 dog3 events events events events"
                "dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog3 dog3 dog3 dog3 dog3 dog3 blog blog blog blog"
                "dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog3 dog3 dog3 dog3 dog3 dog3 blog blog blog blog"
                "dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog1 dog3 dog3 dog3 dog3 dog3 dog3 contacts contacts contacts contacts"
                "cat cat cat cat cat cat cat cat cat fox fox fox fox fox fox fox fox fox"
                "cat cat cat cat cat cat cat cat cat fox fox fox fox fox fox fox fox fox"
                "dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog4 dog4 dog4 dog4 dog4 dog4 dog4 dog4 dog4"
                "dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog2 dog4 dog4 dog4 dog4 dog4 dog4 dog4 dog4 dog4";
    }

    .powered {
        display: block;
        margin-top: 50px;
        position: relative;
        text-align: center;
        font-size: 18px;
        font-weight: bolder;
    }
}