html {
    background-color: #f6f8fc;
}

.header {
    box-sizing: border-box;
    position: fixed;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10%;
    top: 0;
    width: 100%;
    animation-name: slideDown;
    -webkit-animation-name: slideDown;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    animation-timing-function: ease;
    -webkit-animation-timing-function: ease;
    z-index: 999999;
}

.header__left {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header > img {
    height: 35px;
    width: 60px;
}


.header__btn {
    display: flex;
    width: 33px;
    height: 33px;
    background-color: #fa901b;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-size: 20px;
}

.header__btn:hover {
    display: flex;
    width: 33px;
    height: 33px;
    background-color: #fa901b;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.header__notification {
    height: 16px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    fill: #bdbcc3;
    margin-right: 20px;
    cursor: pointer;
}

.header__notification:hover {
    height: 16px;
    width: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    fill: #989898;
    margin-right: 20px;
    cursor: pointer;
}

.header__user {
    display: block;
    text-align: center;
    color: #aab3be;
    font-size: 16px;
}

hr {
    border: none;
    height: 2px;
    background-color: #aab3be;
}

.header__menu {
    list-style-type: none;
    font-size: 18px;
}

.header__menu > li {
    cursor: pointer;
    padding: 2px 0 4px 5px;
}

.header__menu > li:hover {
    cursor: pointer;
    background-color: #f6f7fc;
}

input + .header__profile {
    display: none;
    z-index: 999999;
}

input:checked + .header__profile {
    position: absolute;
    width: 120px;
    height: 70px;
    top: 45px;
    right: 10%;
    background-color: #ffffff;
    padding: 10px 20px 20px 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.header__profile, input[type="checkbox"] {
    display: none;
    z-index: 1000;
}

input[type="checkbox"]:checked ~ .header__profile {
    display: block;
}

@media only screen and (max-width: 980px) {
    .header {
        box-sizing: border-box;
        position: fixed;
        background-color: #ffffff;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        padding: 0 5%;
        top: 0;
        width: 100%;
        animation-name: slideDown;
        -webkit-animation-name: slideDown;
        animation-duration: 1s;
        -webkit-animation-duration: 1s;
        animation-timing-function: ease;
        -webkit-animation-timing-function: ease;
        z-index: 9999;
    }

    input:checked + .header__profile {
        position: absolute;
        width: 120px;
        height: 70px;
        top: 45px;
        right: 5%;
        background-color: #ffffff;
        padding: 10px 20px 20px 20px;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%);
    }
}