.messages {
    position: fixed;
    right: 0;
    bottom: 0;
    padding: 15px;
}

.messages__success {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 55px 1fr;
    width: 200px;
    background-color: #50c86d;
    opacity: 0.6;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 3px;
}

.messages__error {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 55px 1fr;
    width: 200px;
    background-color: red;
    opacity: 0.6;
    color: white;
    font-size: 16px;
    margin-top: 15px;
    border-radius: 3px;
}

.messages__text {
    padding: 10px 10px 10px 0;
}

.messages__text span {
    font-weight: bolder;
}

.messages__icons {
    padding: 15px;
    width: 25px;
    height: 25px;
    fill: white;
}